body
{
    font-family: 'Nunito', sans-serif;
    background: #ffffff;
}

header
{
    color: rgb(18, 2, 4);
    background-color: #FFF3D7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 73px;
    gap: 40px;
    z-index: 10;
}

a {
    text-decoration: none; /* Quitar el subrayado */
    font-family: 'Nunito', sans-serif;
    color: black; /* Hacer que el color sea el mismo que el del texto circundante */
}


#logo
{
    height: 60px;
    margin: 5px;
    position: absolute;
    left: 80px;
}

#fotoPerfil {
    height: 38px;
    position: absolute;
    top: 15px;
    right: 9%;     
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 3px solid rgb(79, 156, 244);
}

#userimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}


#opciones
{
    height: 45px;
    position: absolute;
    top: 15px;
}

#slogan1
{
    font-family: 'Shantell Sans', cursive;
    font-size: x-large;
    position: absolute;
    left: 200px;
    top: 27%;
}

.btnTop
{
    background-color: transparent;
    font-family: Arial;
    border: none;
    font-size: larger;
}

.pestanamenu
{
    display: none;
    position: absolute;
    height: 100%;
    width: 380px;
    z-index: 200;
    background-color: #FFF3D7;
    padding: 10px;
    top: 0%;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto; 
    left: 0px; /* Esto asegura que el popup siga siendo interactivo */
}

#pestanadelmenu:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;

  }

#arrow
{
    background-color: transparent;
    border: none;
    height: 20px;
    margin-left: 210px;
}
#logomenu
{
    height: 80px;
}
.botonmenu
{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    text-align: left;
}
.botonazul
{
    height: 50px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    border: none;
    width: 120px;
    background-color: #68A8C1;
    position: absolute;
    color: white;
    font-weight: bolder;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center; /* Esto asegura que el texto esté centrado si hay algún comportamiento no deseado */

}

#equismenu
{
    left: 87%;
    background-color: transparent;
    position: absolute;
    z-index: 2000;
}

#cerrasesion
{
    left: 20%;
    top: 117px;
    z-index: 2000;
}
#ayuda
{
    top: 117px;
    left: 54%;
}

#secciones
{
   position: absolute;
   top: 180px; 
}

/* Estilo para el contenedor de botones */
.containerbotones {
    display: flex;
    flex-direction: column; /* Alinea los botones verticalmente */
    align-items: center; /* Alinea los botones al centro horizontalmente */
    width: 100%;
}

/* Estilo para cada botón */
.botonmenu {
    display: flex; /* Hace de cada botón un contenedor Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre el texto y la imagen */
    align-items: center; /* Alinea el texto y la imagen verticalmente al centro */
    width: 90%; /* Ocupa todo el ancho del contenedor */
    padding: 10px; /* Ajusta el espaciado interno según lo necesites */
    border: none; /* Elimina el borde, si es necesario */
    background-color: transparent; /* O el color que prefieras */
    cursor: pointer; /* Estilo de cursor al pasar el ratón por encima */
    z-index: 2000;
}

/* Estilo para la imagen de flecha de cada botón */
.botonmenu #arrow {
    margin-left: 10px; /* Espaciado entre el texto y la flecha */
}

#mapa
{
    top: 230px; 
}
#Productos
{
    top:280px; 

}

#tiendas
{
    top:330px; 
}

#Historial
{
    top: 382px; 
}

#estado
{
    top: 450px; 
}

#cuenta
{
    position: absolute;
    top: 540px;
}
#infocuenta
{
    top: 600px;
    z-index: 2000;
    color: black;
}

#conf
{ 
    top: 650px;
}

#hr1menu
{
  margin-top: 25%;
}
#hr2menu
{
  margin-top: 88%;
}

#tick
{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 140px;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
  transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
}
#equis
{
    height: 30px;
}

#Aceptado
{
    position: absolute;
    top: 385px;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
    text-align: center;
}

#NombreDomiciliario
{
    position: absolute;
    top: 440px;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
    text-align: center;
}

#NumeroTel
{
    position: absolute;
    top: 480px;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
    text-align: center;
}

#Duracion
{
    position: absolute;
    top: 520px;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
    text-align: center;
}

#Resultado
{
    display: none;
}

#cargaText
{
    position: absolute;
    top: 60%;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
    text-align: center;
}

#Carga
{
    display: block;
}

/*loader 2*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .loader{
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
    height: 25px;
    width: 25px;
    position: relative;
    animation: rotate 5s  infinite;
  }

  .ball{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .upper{
    left: 0;
    top: -22px;
    background: #7ab2e1;
    animation: upper 1s linear infinite;
  }
  @keyframes upper {
    50%{
      top: 22px;
    }
    100%{
      top: 22px;
    }
  }
  .right{
    right: -22px;
    top: 0;
    background: #ef9ab8;
    animation: right 1s linear infinite;
  }
  @keyframes right {
    50%{
      right: 22px;
    }
    100%{
      right: 22px;
    }
  }
  .lower{
    bottom: -22px;
    left: 0;
    background: #f3e8a7;
    animation: lower 1s linear infinite;
  }
  @keyframes lower {
    50%{
      bottom: 22px;
    }
    100%{
      bottom: 22px;
    }
  }
  .left{
    left: -22px;
    top: 0;
    background: #aef1ae;
    animation: left 1s linear infinite;
  }
  @keyframes left {
    50%{
      left: 22px;
    }
    100%{
      left: 22px;
    }
  }