body
{
    font-family: 'Nunito', sans-serif;
    background: #ffffff;
}

header
{
    color: rgb(18, 2, 4);
    background-color: #FFF3D7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 73px;
    gap: 40px;
    z-index: 10;
}

a {
    text-decoration: none; /* Quitar el subrayado */
    font-family: 'Nunito', sans-serif;
    color: black; /* Hacer que el color sea el mismo que el del texto circundante */
}


#logo
{
    height: 60px;
    margin: 5px;
    position: absolute;
    left: 80px;
}

#fotoPerfil {
    height: 38px;
    position: absolute;
    top: 15px;
    right: 9%;     
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 3px solid rgb(79, 156, 244);
}

#userimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}


#opciones
{
    height: 45px;
    position: absolute;
    top: 15px;
}

#carrito
{
    height: 45px;
    position: absolute;
    top: 10px;
    right: 3%;
}

#slogan1
{
    font-family: 'Shantell Sans', cursive;
    font-size: x-large;
    position: absolute;
    left: 12%;
    top: 0%;
}

.btnTop
{
    background-color: transparent;
    font-family: Arial;
    border: none;
    font-size: larger;
}

#barrabusqueda
{
    height: 45px;
    position: absolute;
    top: 10px;
    width: 47%;
    right: 16%;
    border: none;
    border-top-left-radius: 15px;   /* Top-left corner rounded */
    border-bottom-left-radius: 15px; /* Bottom-left corner rounded */
    border-top-right-radius: 15px;   /* Top-left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom-left corner rounded */
    background-image: url('../imagenes/lupa.png');
    background-size: 30px 30px; 
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: left 5px center; /* Positions the image to the right with a little padding */
    padding-left: 45px; 
    z-index: 10;
}

#estrella
{
    height: 20px;
    margin-right: 48px;
}

#tienda
{
    height: 20px;
    margin-right: 55px;
}

#porcentaje
{
    height: 20px;
    margin-right: 30px;
}

.busquedaRapida
{
    height: 40px;
    position: absolute;
    top: 285px;
    display: flex;
    gap: 10px;
    left: 180px;
}

.botonBusqueda
{
    border-top-left-radius: 15px;   /* Top-left corner rounded */
    border-bottom-left-radius: 15px; /* Bottom-left corner rounded */
    border-top-right-radius: 15px;   /* Top-left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom-left corner rounded */
    width: 155px;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    border: 1px solid darkgray;
    border-width: 2px;
    text-decoration: none; /* Esto quita el subrayado */
    color: black;          /* Esto establece el color del texto en negro */
    padding-left: 10px; /* Este es el espacio que se aÃ±ade a la izquierda entre el borde y la imagen */
}

.textoP
{
  position: absolute;
}

#filtro
{
    top: 270px;
    left: 60px;
}

#tiendas2
{
    top: 333px;
    left: 35px;
}

#promociones
{
    top: 600px;
    left: 40px;
}

.producto {
    padding: 0px 20px; /* Esto aÃ±ade un padding (relleno) superior e inferior de 10px a cada producto */
    display: inline-block;
    vertical-align: top;  /* Asegura que se alineen por la parte superior */
    z-index: 2000;
}
.circuloproducto 
{   
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 6px solid rgb(79, 156, 244);
    position: relative;
    left: 5%;
    height: 135px;
    top: 12.5%;
    overflow: hidden; 
}

.fotominipRODUCTO
{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
}

.productLink
{
    text-align: center;
}

.nombreminiProducto
{
    position: relative;
    top: 34%;
    left: 5%;
    overflow: hidden;
    color: #7B7972; 
}

.scrollBoxProducto{
     top: 450px;
     max-width: 100%; 
     width:  100%;  /* o el valor que desees */
     height: 202px; 
     position: absolute;
     overflow-x: auto;   /* Habilita el desplazamiento horizontal */
     overflow-y: hidden; /* Desactiva el desplazamiento vertical */
     white-space: nowrap;  /* Esto evita que los hijos salten a la siguiente lÃ­nea */
 }
 
 .scrollBoxProducto::-webkit-scrollbar {
     width: 0px;  /* Hace la barra de desplazamiento efectivamente invisible en WebKit browsers */
     background: transparent;  /* Esconde el fondo */
 }
 
 .scrollBoxProducto::-webkit-scrollbar-thumb {
     background: transparent;  /* Esconde el thumb (la barra que se mueve) */
 }
 
 /* Para Firefox */
 .scrollBoxProducto {
     scrollbar-width: none;  /* Esconde la barra de desplazamiento en Firefox */
 }
 
 /* En IE y Edge */
 .scrollBoxProducto {
     -ms-overflow-style: none;  /* Esconde la barra de desplazamiento en IE y Edge */
 }

.popUpProducto
{
    display: none;
    position: absolute;
    background: #ffffff;
    top: 2%;
    margin-top: 5px;
    height: 600px;
    z-index: 20000;
    padding: 10px;
    width: 92%;
    left: 2%;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto;  /* Esto asegura que el popup siga siendo interactivo */
}

body.overlayActive {
    pointer-events: none;
}

#popUpProducto:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    max-height: 100%;

  }

#equis
{
    height: 30px;
}
#equisButton
{
    margin-top: 5px;
    position: absolute;
    right: 1.7%;
    background-color: transparent;
    border: none;
}

#tituloProducto
{
    position: absolute;
    font-size: x-large;
    left: 4%;
    top: 0.5%;
    font-weight: bolder;
}

#separadorHorizontal1
{
    background-color: rgb(142, 142, 142);
    margin-top: 65px;
}

.scrollBoxinner {
    left: 42%;
    max-height: 425px; /* Puedes ajustar este valor segÃºn tus necesidades */
    height: 425px;
    overflow-y: auto;
    position: relative;
    max-width: 58%; 
}

.scrollBoxinner::-webkit-scrollbar
{
    width: 10px;
}
.scrollBoxinner::-webkit-scrollbar-thumb
{
    background: #8BB9E0;
    height: 10px; /* o el tamaÃ±o que prefieras */
    border-radius: 8px; /* para bordes redondeados */
}
#encabezado
{
    display: flex; 
}
#precioText
{
    position: relative;
    font-weight: bold;
    left: 2%;
    top: 0%;
    font-size: x-large;
    display: flex;  

}
#DescText
{
    position: relative;
    left: 22%;
    top: 0%;
    font-size: x-large;
    font-weight: lighter;
    color: #7d7777;
}
#porcentajePopUp
{
    height: 30px; 
    position: relative;
    left: 31%;
    margin-top: 4.2%;
}
#DescText2
{
    position: relative;
    left: 32%;
    top: 0%;
    font-size: x-large;
    color: #303ce1;

}
#disponible
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large;
    color: #ffffff;
    background-color: #8ED991;
    height: 40px;
    width: 170px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center; 
    display: flex;  
    font-weight: lighter;     
    margin-top: 0%;
}
#descripcion
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large; 
    color: #7B7972;
}
#textoDescrip
{
    position: relative;
    right: 0%;
    top: 0%;
    color: #7B7972;
}
#ingredientesText
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large; 
    color: #7B7972;
}
#textoIngred
{
    position: relative;
    right: 0%;
    top: 0%;
    color: #7B7972;
}
#RadioOptions1
{
    position: relative;
    right: 0%;
    top: 0%;
    display: flex;
    align-items: flex-start;
    margin-top: 20xp;
    margin-left: 1%;
}
#RadioOptions2
{
    position: relative;
    right: 0%;
    top: 0%;
    display: flex;
    align-items: flex-start;
    margin-left: 0.5%;
}

/* Aumenta el tamaÃ±o de los botones de radio */
#RadioOptions1 input[type="radio"], #RadioOptions2 input[type="radio"] {
    transform: scale(2.2); /* Aumenta el tamaÃ±o en 2 veces (puedes ajustar este valor) */
    margin-right: 25px;
    margin-top: 3%;
}

/* AÃ±ade margen a la izquierda de los labels para separarlos mÃ¡s del botÃ³n de radio */
#labelDisp
{
    margin-left: 80px; 
    background-color: #8ED991;
    color: #ffffff;
    height: 35px;
    width: 140px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center; 
    display: flex;  
    font-weight: lighter;   
    margin-top: 2%;
}
#labelt
{
    margin-top: 3%;
}

#circuloPRODUCTO 
{   
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    position: absolute;
    top: 19%;
    left: 6%;
    height: 350px;
    border: 6px solid rgb(244, 164, 79);
    overflow: hidden; 
}

#fotopRODUCTO
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}

#separadorHorizontal2
{
    background-color: rgb(142, 142, 142);
    margin-top: 2px;
}
.Bspagar
{
    position: absolute;
    height: 45px;
    top: 89%;
    border: none;
    border-top-left-radius: 10px;   /* Top-left corner rounded */
    border-bottom-left-radius: 10px; /* Bottom-left corner rounded */
    border-top-right-radius: 10px;   /* Top-left corner rounded */
    border-bottom-right-radius: 10px; /* Bottom-left corner rounded */
}

#BAgregarSeguirComprando
{
   background-color: rgb(195, 192, 192);
   right: 25%;
   width: 200px;
}
#BAgregarEirPagar
{
    background-color: rgb(153, 147, 147);
    right: 3%;
    width: 250px;
}


.sumatoria
{
    height: 30px;
    background-color: transparent;
    border: none;

}
.sumatoriadiv
{
    position: absolute;
    right: 43.2%;
    top: 88.5%;
    border: 1px solid rgb(159, 159, 159);
    border-top-left-radius: 10px;   /* Top-left corner rounded */
    border-bottom-left-radius: 10px; /* Bottom-left corner rounded */
    border-top-right-radius: 10px;   /* Top-left corner rounded */
    border-bottom-right-radius: 10px; /* Bottom-left corner rounded */
    display: flex;
    align-items: center; 
    height: 50px;
}
#mas
{
    height: 35px;
}
#cantidadProducto
{
    text-align: center;
}

.pestanamenu
{
    display: none;
    position: absolute;
    height: 100%;
    width: 380px;
    z-index: 200;
    background-color: #FFF3D7;
    padding: 10px;
    top: 0%;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto;  /* Esto asegura que el popup siga siendo interactivo */
}

#pestanadelmenu:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;

  }

#arrow
{
    background-color: transparent;
    border: none;
    height: 20px;
    margin-left: 210px;
}
#logomenu
{
    height: 80px;
}
.botonmenu
{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    text-align: left;
}
.botonazul
{
    height: 50px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    border: none;
    width: 120px;
    background-color: #68A8C1;
    position: absolute;
    color: white;
    font-weight: bolder;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center; /* Esto asegura que el texto estÃ© centrado si hay algÃºn comportamiento no deseado */
}

#equismenu
{
    left: 87%;
    background-color: transparent;
    position: absolute;
    z-index: 2000;
}

#cerrasesion
{
    left: 20%;
    top: 117px;
    z-index: 2000;
}
#ayuda
{
    top: 117px;
    left: 54%;
}

#secciones
{
   position: absolute;
   top: 180px; 
}

/* Estilo para el contenedor de botones */
.containerbotones {
    display: flex;
    flex-direction: column; /* Alinea los botones verticalmente */
    align-items: center; /* Alinea los botones al centro horizontalmente */
    width: 100%;
}

/* Estilo para cada botÃ³n */
.botonmenu {
    display: flex; /* Hace de cada botÃ³n un contenedor Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre el texto y la imagen */
    align-items: center; /* Alinea el texto y la imagen verticalmente al centro */
    width: 90%; /* Ocupa todo el ancho del contenedor */
    padding: 10px; /* Ajusta el espaciado interno segÃºn lo necesites */
    border: none; /* Elimina el borde, si es necesario */
    background-color: transparent; /* O el color que prefieras */
    cursor: pointer; /* Estilo de cursor al pasar el ratÃ³n por encima */
    z-index: 2000;
}

/* Estilo para la imagen de flecha de cada botÃ³n */
.botonmenu #arrow {
    margin-left: 10px; /* Espaciado entre el texto y la flecha */
}

#mapa
{
    top: 230px; 
}
#Productos
{
    top:280px; 

}

#tiendas
{
    top:330px; 
}

#Historial
{
    top: 382px; 
}

#estado
{
    top: 450px; 
}

#cuenta
{
    position: absolute;
    top: 540px;
}
#infocuenta
{
    top: 600px;
    z-index: 2000;
    color: black;
}

#conf
{ 
    top: 650px;
}

#hr1menu
{
  margin-top: 25%;
}
#hr2menu
{
  margin-top: 88%;
}

.minitienda {
    padding: 0px 20px; /* Esto aÃ±ade un padding (relleno) superior e inferior de 10px a cada producto */
    display: inline-block;
    vertical-align: top;  /* Asegura que se alineen por la parte superior */

}
.tiendaLink
{
    text-align: center;
}
.circuloTIENDA
{   
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 6px solid rgb(157, 212, 153);
    position: relative;
    left: 4%;
    height: 140px;
    top: 6%;
    overflow: hidden; 
    
}

.fotominiTIENDA
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
  transform: translateX(-50%); /* Desplazar el elemento a la izquierda en un 50% de su propio ancho */
}

.nombreminiTIENDA
{
    position: relative;
    top: 2%;
    overflow: hidden;
    color: #7B7972; 
}

.scrollBoxTienda {
   
   top: 400px;
   overflow-x: auto;   /* Habilita el desplazamiento horizontal */
   overflow-y: hidden; /* Desactiva el desplazamiento vertical */
    max-width: 100%; 
    width:  100%;  /* o el valor que desees */
    height: 210px;
    position: absolute;
    white-space: nowrap;
 
}

.scrollBoxTienda::-webkit-scrollbar {
    width: 0px;  /* Hace la barra de desplazamiento efectivamente invisible en WebKit browsers */
    background: transparent;  /* Esconde el fondo */
}

.scrollBoxTienda::-webkit-scrollbar-thumb {
    background: transparent;  /* Esconde el thumb (la barra que se mueve) */
}

/* Para Firefox */
.scrollBoxTienda {
    scrollbar-width: none;  /* Esconde la barra de desplazamiento en Firefox */
}

/* En IE y Edge */
.scrollBoxTienda {
    -ms-overflow-style: none;  /* Esconde la barra de desplazamiento en IE y Edge */
}

@media screen and (max-width: 653px) 
{
    .scrollBoxProducto, .scrollBoxTienda
    {
        width:  120%; 
        max-width: 120%; 
    }

}

@media screen and (max-width: 1099px) 
{
    .scrollBoxProducto, .scrollBoxTienda
    {
        width:  120%; 
        max-width: 100%; 
    }

}

@media screen and (max-width: 1120px) 
{
    #slogan1
    {
        display: none;
    }

    #barrabusqueda
    {
        right: 25%;
    }
}

@media screen and (max-width: 1227px) 
{
    #BAgregarSeguirComprando
    {
         width: 190px;
    }
    #BAgregarEirPagar
    {
        background-color: rgb(153, 147, 147);
        right: 3%;
        width: 190px;
    }
 
    .sumatoriadiv
    {
        right: 47.2%;
    }

}

@media screen and (max-width: 1145px) 
{
    #circuloPRODUCTO 
    {   
        height: 300px;
    }

}


.pestamenu
{
    display: none;
    position: absolute;
    height: 100%;
    width: 380px;
    z-index: 200;
    background-color: #FFF3D7;
    padding: 10px;
    top: 0%;
    right: 0%;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto;  /* Esto asegura que el popup siga siendo interactivo */
}

#popUpCarrito:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    max-height: 100%;
}



  
body.overlayActive {
  pointer-events: none;
  overflow: hidden;
}

.cart {
    position: absolute;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    right: 36px;
    top: 10px;
}

.cart p {
    font-family: nunito;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: goldenrod;
    color: white;
    height: 22px;
    width: 22px;
}

/* Estilos para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .cart {
        right: 20px; /* Ajusta el espacio a la derecha para pantallas mÃ¡s pequeÃ±as */
        top: 8px; /* Ajusta la posiciÃ³n hacia arriba para pantallas mÃ¡s pequeÃ±as */
    }
}

/* Estilos para pantallas de hasta 480px de ancho */
@media (max-width: 480px) {
    .cart {
        right: 10px; /* Ajusta el espacio a la derecha para pantallas mÃ¡s pequeÃ±as */
        top: 6px; /* Ajusta la posiciÃ³n hacia arriba para pantallas mÃ¡s pequeÃ±as */
    }
}

#CarritoVacio{
    font-family: Nunito;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}


#carritobebe
{
    position: absolute;
    height: 40px;
    margin-left: 160px;
    margin-top: -10px;
}



#ubica
{
    height: 30px;
    margin-top: 2px;
    margin-left: 10px;
}


#carroEmpty{
    height: 150px;
    position: relative;
    top: 20px;
}


#canasta{
    font-size: 24px;
    line-height: 1.63;
    text-align: left;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;
}

#hrcarrito{
    margin-top: 2px;
}

#contenedorproductosCarrito{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 69%;
    overflow-x: hidden;   /* Habilita el desplazamiento horizontal */
    overflow-y: auto; /* Desactiva el desplazamiento vertical */
    white-space: nowrap;  /* Esto evita que los hijos salten a la siguiente lÃ­nea */
}

#carrito_contiene
{
    position: relative;
    top: 40%; /* Mover el elemento a la mitad de su contenedor */
    transform: translateY(-80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


#comienza_compra
{
    background-color: #68A8C1;
    color: #fff;
    border: none;
    border-radius: 13px;
    padding: 5px 10px;
    text-align: center;
    width: 180px;
    display: hidden;
}


.boto #comienza_compra
{
    width: 100%;
    display: flex;
}

.boto {
    margin-top: 40px;
    background-color: transparent; /* O el color que prefieras */
    cursor: pointer; /* Estilo de cursor al pasar el ratÃ³n por encima */
    z-index: 4;
}

#comienza_compra:hover {
    background-color: #3d87a4; 
}


  
.container .circuloproducto {
    /* Estilos para el contenedor del cÃ­rculo de la imagen */
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 3px solid rgb(244, 109, 79);
    position: relative;
    left: -120%;
    height: 100px;
    top: 15px;
    overflow: hidden;
}
    
.container .fotominipRODUCTO {
    /* Estilos para la imagen del producto */
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%; /* Mover el elemento a la mitad de su contenedor */
}
  



  .container .nombreminiProducto{
    /* Estilos para el nombre del producto */
    position: relative;
    font-weight: bold;
    margin-top: -86px;
    left: 1px;
    overflow: hidden;
    color: #000000; 

  }
  
  .container .preciominiProducto {
    /* Estilos para el precio del producto */
    position: relative;
    font-weight: bold;
    font-size: small;
    margin-top: -10px;
    left: 1px;
    overflow: hidden;
    color: #4e4e4e; 
  }
  
  .container .cantminiProducto {
    /* Estilos para la cantidad del producto */
    position: relative;
    font-size: small;
    margin-top: -10px;
    left: 6px;
    overflow: hidden;
    color: #000000; 

  }


  .container .sumatoria{
    height: 16px;
  }

  #caneca
  {
    display: none;
      left: 50%;
      position: absolute;
      z-index: 2000;
      margin-right: 220px;
      margin-top: 20px;
      background-color: rgb(238, 229, 189); /* Color de fondo del botón */
      color: rgb(53, 48, 48); /* Color del texto del botón */
      padding: 5px 10px; /* Espaciado interno del botón (vertical horizontal) */
      border: none; /* Borde del botón */
      border-radius: 5px; /* Bordes redondeados del botón */
      cursor: pointer; /* Cambiar el cursor al pasar el ratón por encima */
      width: 90%;
      left: 50%; /* Mover el elemento a la mitad de su contenedor */
     transform: translateX(-50%);
     text-align: center;

  }
  
  .vaciar_basura {
      width: 15px; /* Ancho de la imagen */
      height: 15px; /* Altura de la imagen */
      vertical-align: middle; /* Alinear verticalmente la imagen con el texto */
  }
    
  #caneca:hover {
        background-color: rgba(214, 193, 125, 0.793); /* Cambiar el color de fondo al pasar el ratón por encima */
  }

  #infotiendas
  {
    position: absolute;
    top:60px;
    left: 50%;
    transform: translateX(-50%);
  }